.content .small_title {
	text-align: left;
    display: inline-block;
    font-weight: bold;
    width: auto;
    color: #91969a;
}
hr {
	background-color:#2d2d2d;
	height: 1px;
	border: none;
	width: 100%;
	margin: 15px auto;
}
.content .subtitle {
	margin: 0 0 10px 0;
    width: 100%;
    padding: 0;
    background-color: transparent;
}
.content .status_subtitle {
	font-size: 16px;
	width: 150px;
	color: #eaeef1;
	font-weight: bold;
}
.content .dynamic_data {
	max-width: 500px;
	height:27px;
	text-align: left;
	overflow: hidden;
	vertical-align: -3px;
	font-size: 16px;
    margin-top: 3px;
	word-wrap: break-word;
}
.content div {
	width: calc(25% - 34px);
    display: inline-grid;
    background-color: #3c3f4d;
    padding: 10px;
    margin: 5px;
    position: relative;
}
.content {
	padding:20px;
}
#uri_scan{
	position: absolute;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px 4px 4px 4px;
	padding: 5px;
	background-color: rgb(229, 229, 229);
	font-size: 14px;
	color: rgb(85, 85, 85);
}
.content .display_off {
	display: none;
}