#system_setting {
	margin-left: 124px;
}

.dividing_rule{
	width: 250px;
	height: 25px;
	background-color:#2b2c31;
}
.rule_pointer{
	width: 10px;
	height: 25px;
	background-color:#3198fc;
	vertical-align: -5px;
}
.number{
	width: 20px;
	height: 20px;
}
.display_off{
	display: none;
}
#vo_source{
	vertical-align: -2px;
	margin-left: 15px;
}
