html {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
#main_content {
	margin-bottom: 30px;
}
.content_box_header {
	background-color: #1e1f22;
    height: 40px;
    margin: 0 auto;
    padding: 5px 0;
}
.content_box_header span {
	display: block;
	padding: 8px 0px 0px 15px;
	font-size: 17px;
	color:#eaeef1;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}
.content_box_header #header_text{
	
}
.content {
	margin: 0 auto;
	background-color: #36373c;
	padding-bottom: 20px;
	padding-top: 20px;
}
.content div {
	margin: 15px 130px;
}
.content span{
	color:  #eaeef1;
	display: inline-block;
	font-size: 13px;
}
.content .small_title {
	font-size: 14px;
	font-weight: 700;
	width: 120px;
	text-align: right;
}
.input_button[type=button] {
	min-width: 90px;
	height: 30px;
	background:#3198fc;
	border: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #eaeef1;
	cursor: pointer;
}
input[type=text], #restart_time{
	background-color: #36373c;
    border: none;
    padding: 14px 5px;
    border-bottom: 3px solid #3198fc;
    color: #eaeef1;
}
select{background-color: #2b2c31;color: #eaeef1; padding: 10px; border: none; border-bottom: 2px solid #3198fc; margin: 0 5px;}
select:focus-visible,input:focus-visible{outline-offset: 0px; outline: none; background: #2b2c31;}
hr {
	background-color: #2c2e3a;
	height: 1px;
	border: none;
	width: 100%;
	margin: 20px auto;
}
